# Don't care about deprecated APIs (noisy) and about memcpy/strcpy (we'll fix
# that later).
Checks: '-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-clang-diagnostic-deprecated-declarations'
