[submodule "lib/axtls"]
	path = micropython/lib/axtls
	url = https://github.com/micropython/axtls.git
[submodule "lib/libffi"]
	path = micropython/lib/libffi
	url = https://github.com/atgreen/libffi
[submodule "lib/lwip"]
	path = micropython/lib/lwip
	url = https://github.com/lwip-tcpip/lwip.git
[submodule "lib/berkeley-db-1.xx"]
	path = micropython/lib/berkeley-db-1.xx
	url = https://github.com/pfalcon/berkeley-db-1.xx
[submodule "lib/stm32lib"]
	path = micropython/lib/stm32lib
	url = https://github.com/micropython/stm32lib
	branch = work-F0-1.9.0+F4-1.16.0+F7-1.7.0+G0-1.5.1+G4-1.3.0+H7-1.6.0+L0-1.11.2+L1-1.10.3+L4-1.17.0+WB-1.10.0+WL-1.1.0
[submodule "lib/nrfx"]
	path = micropython/lib/nrfx
	url = https://github.com/NordicSemiconductor/nrfx.git
[submodule "lib/mbedtls"]
	path = micropython/lib/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "lib/asf4"]
	path = micropython/lib/asf4
	url = https://github.com/adafruit/asf4
	branch = circuitpython
[submodule "lib/tinyusb"]
	path = micropython/lib/tinyusb
	url = https://github.com/hathach/tinyusb
[submodule "lib/mynewt-nimble"]
	path = micropython/lib/mynewt-nimble
	url = https://github.com/micropython/mynewt-nimble.git
[submodule "lib/btstack"]
	path = micropython/lib/btstack
	url = https://github.com/bluekitchen/btstack.git
[submodule "lib/nxp_driver"]
	path = micropython/lib/nxp_driver
	url = https://github.com/hathach/nxp_driver.git
[submodule "lib/libhydrogen"]
	path = micropython/lib/libhydrogen
	url = https://github.com/jedisct1/libhydrogen.git
[submodule "lib/pico-sdk"]
	path = micropython/lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "lib/fsp"]
	path = micropython/lib/fsp
	url = https://github.com/renesas/fsp.git
[submodule "lib/wiznet"]
	path = micropython/lib/wiznet5k
	url = https://github.com/andrewleech/wiznet_ioLibrary_Driver.git
	# Requires https://github.com/Wiznet/ioLibrary_Driver/pull/120
	# url = https://github.com/Wiznet/ioLibrary_Driver.git
[submodule "lib/cyw43-driver"]
	path = micropython/lib/cyw43-driver
	url = https://github.com/georgerobotics/cyw43-driver.git
[submodule "lib/micropython-lib"]
	path = micropython/lib/micropython-lib
	url = https://github.com/micropython/micropython-lib.git
