[submodule "lib/berkeley-db-1.xx"]
	path = micropython/lib/berkeley-db-1.xx
	url = https://github.com/pfalcon/berkeley-db-1.xx
[submodule "lib/micropython-lib"]
	path = micropython/lib/micropython-lib
	url = https://github.com/micropython/micropython-lib.git
