CONFIG_GC9A01_Width=240
CONFIG_GC9A01_Height=240
# CONFIG_USE_SPI1_HOST is not set
# CONFIG_USE_SPI2_HOST is not set
CONFIG_USE_SPI3_HOST=y 
# CONFIG_USE_SPI4_HOST is not set
CONFIG_GC9A01_SPI_HOST=2
CONFIG_GC9A01_PIN_NUM_SCK=39
CONFIG_GC9A01_PIN_NUM_MOSI=41
CONFIG_GC9A01_PIN_NUM_CS=40
CONFIG_GC9A01_PIN_NUM_DC=42
CONFIG_GC9A01_SPI_SCK_FREQ_M=80
# CONFIG_GC9A01_CONTROL_BACK_LIGHT_USED is not set
CONFIG_GC9A01_RESET_USED=y
CONFIG_GC9A01_PIN_NUM_RST=38
CONFIG_GC9A01_BUFFER_MODE=y
# CONFIG_GC9A01_BUFFER_SCREEN_FAST_MODE is not set
# end of GC9A01 LCD Config

#

